.FCPreview {
    display: grid;
    grid-template-rows: auto auto;
    gap: 4rem;
    max-width: var(--max-width-mobile);

    &-cardItem {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1.75rem;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        border-top: 4px solid;

        &.is-border-top {
            &-cyan {
                border-top-color: var(--cyan);
            }

            &-red {
                border-top-color: var(--red);
            }

            &-orange {
                border-top-color: var(--orange);
            }

            &-blue {
                border-top-color: var(--blue);
            }
        }

        h4 {
            margin-bottom: 0.25rem;
            font-size: 22px;
            color: var(--very-dark-blue);
        }

        p {
            margin-bottom: 2rem;
            color: var(--grayish-blue);
        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
 
    &-cardList {
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 1.5rem;

        .FCPreview {
            &-cardGrouped {
                display: grid;
                grid-template-rows: auto;
                gap: 2rem;
            }
        }
    }


    &-overview {
        max-width: var(--overview-max-width-desktop);
        justify-self: center;
        text-align: center;
        .FCPreview {
            &-body {
                color: var(--grayish-blue);
            }
            
            &-title {
                font-size: 24px;
                margin-bottom: 1rem;
                color: var(--very-dark-blue);

                div:nth-child(1) {
                    font-weight: 200;
                }
            }
        }
    }
}

@media screen and (min-width: 890px) {
    .FCPreview {
        max-width: 64rem;

        &-cardList {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            align-items: center;
            gap: 2rem;
        }

        &-cardItem {
            h4 {
                font-size: 18px;
            }
            p {
                font-size: 12px;
            }
            transition: 0.15s ease-in-out;
        }

        &-cardItem:hover {
            transform: scale(1.025);

        }

        &-overview {
            .FCPreview {
                &-title {
                    font-size: var(--font-size-xl);
                }
                &-body {
                    font-size: 14px;
                }
            }
        }
    }
}